:root {
    --lightback: #c0c0c6;
    --lightmain: #4B0082;
    --lightsecond: #8A2BE2;
    --lightash: #4E4E50;
    --darkback: #0B0C10;
    --darkmain: #66FCF1;
    --darksecond: #45A29E;
}

body{
    background-color: var(--lightback);
    margin: 0;
    padding: 0;
}
.front{
    height: 100vh;
    /* background-color: red; */ 
}

.left{
    width: 30%;
    padding-top: 25vh;
    padding-left: 25vh;
    font-family: "Kdam Thmor Pro", sans-serif;
    float: left;
    /* background-color: purple; */
}

.name{
    color: var(--lightmain);
    font-size: 60px;
}

.front .left .contact{
    width: 70%;
    height: 12vh;
    margin-top: 40px;
    /* background-color: #0B0C10; */
}

.front .contact .frontsocial{
    color: black;
    font-size: 25px;
    margin-right: 10%;
}

.line{
    width: 60px;
    height: 5px;
    margin-top: -50px;
    margin-left: 2px;
    background-color: var(--lightmain);
}
.right{
    width: 35%;
    padding-top: 20vh;
    padding-right: 25vh;
    /* background-color:green; */
    float: right;
}

.title{
    color: var(--lightash);
    font-size: 25px;
    font-weight: 600;
}

.impText{
    color: var(--darkback);
    font-size: 35px;
    font-weight: 600;
}

.highlight{
    color: var(--lightmain);
}

.desc{
    color: var(--lightash);
    font-size: 20px;
    font-weight: 600;
}



.cvBtn{
    width: 120px;
    height: 50px;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid var(--lightsecond);
}

.cvBtn:hover{
    width: 122px;
    height: 52px;
    transition: .5s;
    color:white;
    background-color: var(--lightsecond);
    border: 3px solid var(--lightsecond);
    cursor: pointer;
}

.second{
    height: 100vh;
    /* background-color: red;  */
}
.second .up-left{
    height: 25vh;
    width: 40%;
    /* background-color: aqua; */
    float: left;
    padding-top: 15vh;
    margin-left: 10%;
}


.second .up-right{
    height: 25vh;
    width: 40%;
    /* background-color: aqua; */
    float: left;
    padding-top: 15vh;
    margin-left: 10%;

}

.cp-box{
    height: 30vh;
    width: 30vh;
    /* background-color: plum; */
    float: left;    
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.cp-img{
    height: 40px;
}

.platname{
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.counter{
    font-size: 35px;
    font-weight: 900;
    color: var(--lightsecond);
}

.more{
    padding-top: 10vh;
    height: 10vh;
    /* background-color: #0B0C10; */
    width: 12vh;
}

.more a{
    text-decoration: none;
    font-weight: 600;
    color: var(--lightsecond);
}

.box{
    /* background-color: rgb(0, 0, 0); */
    height:50vh;
    width: 90%;
    padding: 50vh 0vh 0vh 15vh;
    /* margin: 45vh 0vh 0vh 15vh; */
}

.projectBox{
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: var(--lightash);
    color: white;
    text-align: center;
    width: 40vh;
    height: 45vh;
    margin: 0vh 6vh 0vh 10vh;
    padding: 0vh 15px 0vh 15px;
    float: inline-start;
}

.pbox-title{
    font-size: 16px;
    font-weight: 600;
}

.pbox-desc{
    font-size: 13px;
}

.pbox-count{

}

.projectBox a{
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.projectBox a:hover{
    color:var(--lightback);
}

/* dark mode */
.dark-body{
    background-color: var(--darkback);
}

.dark-name{
    color: var(--darkmain);
}

.dark-frontsocial{
    color: white;
}

.dark-line{
    background-color: var(--darkmain);
}

.dark-title{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.dark-impText{
    color: white;
}

.dark-highlight{
    color: var(--darkmain);
}

.dark-desc{
    color: white;

}